<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>iOS Icons</title>
        <link rel="shortcut icon" href="{{ static_url('css/images/favico-16.png') }}" type="image/png">
        <link href="{{ static_url('css/normalize.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ static_url('css/style.css') }}" rel="stylesheet" type="text/css" />
    </head>

    <body>

        <div id="wrapper">
            <h1>XCode icon resizer</h1>
            <div id="description">
                This little tool will generate a zipped <strong>AppIcon.appiconset</strong> directory containing all required sizes for iOS or Mac application icons from one <strong>1024x1024</strong> png,jpg,bmp,gif image file, ready to be imported in xcode image asset catalog.<br /><br />
            </div>
            <div id="drop_files">
                <div id="drop_ios">Drop here for iOS icons</div>
                <div id="drop_mac">Drop here for mac icons</div>
                <div id="drop_them_here">
                    <div id="drop_file_icon"></div>
                    Drag your image file and <span>drop it</span> here
                </div>
                <img id="loader" class="hide" src="{{ settings['static_url_prefix'] }}css/images/ajax-loader.gif" alt="" />
                <div id="progress_bg" class="hide"><div id="progress"></div></div>
            </div>
            <div id="errors"></div>
        </div>
        <div id="description2">
            <strong>Works on Chrome</strong>, probably on other browsers too. Most probably will not work on Internet Explorer.<br />
            <em>Icons are deleted hourly</em>
        </div>


        <div id="preloaded-images">
           <img src="{{ settings['static_url_prefix'] }}css/images/drop-file-a.png" width="1" height="1" alt="" />
        </div>


        <script type="text/javascript">
            var BaseUrl = '{{ reverse_url('HomePage') }}';
            var StaticUrl = '{{ settings['static_url_prefix'] }}';
        </script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="{{ static_url('js/main.js') }}"></script>
    </body>
</html>